.tyz {
  position: absolute;
  left: 200px;
  top: 200px;
  z-index: 1;
}
.tuz2 {
  position: absolute;
  left: 240px;
  top: 240px;
z-index: 2;
}
.tuz3 {
  position: absolute;
  left: 280px;
  top: 280px;
  z-index: 3;
}
.tuz4 {
  position: absolute;
  left: 320px;
  top: 320px;
  z-index: 4;
}